@charset "UTF-8";
/* line 17, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/custom-2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.sass */
body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "Open Sans", sans-serif, cursive;
  background: url(../img/frenchstucco.png);
}

/* line 15, ../sass/style.sass */
header {
  position: relative;
  -webkit-box-shadow: 0px 2px 15px #bababa;
  -moz-box-shadow: 0px 2px 15px #bababa;
  box-shadow: 0px 2px 15px #bababa;
  background: url(../img/ricepaper.png);
}
/* line 20, ../sass/style.sass */
header img {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

/* line 23, ../sass/style.sass */
.facebook-color {
  color: #3b589c;
}

/* line 25, ../sass/style.sass */
.yahoo-color {
  color: #600083;
}

/* line 27, ../sass/style.sass */
.strong {
  font-weight: bolder;
}

/* line 30, ../sass/style.sass */
nav.main-nav {
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 5px #bababa;
  -moz-box-shadow: 0px 1px 5px #bababa;
  box-shadow: 0px 1px 5px #bababa;
}
/* line 41, ../sass/style.sass */
nav.main-nav .logo h1 {
  font-family: "Love Ya Like A Sister", Arial, serif;
  font-weight: 200;
  font-size: 45px;
  color: #d74c00;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 7px;
  left: 20px;
}
/* line 55, ../sass/style.sass */
nav.main-nav ul li {
  float: right;
  display: inline-block;
  padding: 5px 30px;
  padding-top: 20px;
  height: 33px;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 63, ../sass/style.sass */
nav.main-nav ul li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/* line 67, ../sass/style.sass */
.content {
  height: 1000px;
  margin: 0 auto;
}
/* line 70, ../sass/style.sass */
.content h2 {
  font-size: 2em;
}
/* line 72, ../sass/style.sass */
.content .center-title {
  text-align: center;
  color: #505050;
}

/* line 76, ../sass/style.sass */
.advantage {
  background: #ecf0f1;
  padding: 100px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 5px #bababa;
  -moz-box-shadow: 0px 1px 5px #bababa;
  box-shadow: 0px 1px 5px #bababa;
}
/* line 81, ../sass/style.sass */
.advantage .module-collection {
  width: 100%;
}
/* line 83, ../sass/style.sass */
.advantage .module-collection:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 89, ../sass/style.sass */
.advantage .span1-module {
  display: inline-block;
  width: 31%;
  float: left;
  text-align: center;
  margin-left: 3.5%;
}
/* line 95, ../sass/style.sass */
.advantage .span1-module:first-child {
  margin-left: 0;
}
/* line 97, ../sass/style.sass */
.advantage .span1-module img {
  margin: 0 auto;
}
/* line 99, ../sass/style.sass */
.advantage .span1-module h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 20px;
  color: #505050;
}

/* line 106, ../sass/style.sass */
.steps h1 {
  font-size: 4em;
}
/* line 109, ../sass/style.sass */
.steps .section .wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
/* line 115, ../sass/style.sass */
.steps .section h1 {
  font-size: 6em;
}
/* line 118, ../sass/style.sass */
.steps .section p {
  font-size: 2em;
}
