<!DOCTYPE html>
<html>
  <head>
    <title>Set Cookie</title>
  </head>
  <body>
    <script type="text/javascript">
      //window.opener.location.href = '<%= FB_APP_SITE %>';
      window.open('','_self');
      window.close();
    </script>
      This window should be closed automatically. If not, you could close it manually.
    </body>
  </html>
